@import '../../../../../node_modules/bulma/bulma.sass'

.button-group-container
  text-align: right
  +mobile
    text-align: center

.title-input-container
  padding-left: 0
  //padding-bottom: 0
  +mobile
    padding-top: 0
    padding-left: 0
    padding-right: 0

.date-input-container
  padding-right: 0
  //padding-bottom: 0
  +mobile
    padding-top: 0
    padding-left: 0
    padding-right: 0

.add-button-container
  padding-left: 0
  padding-top: 0

