@import '../../../../../node_modules/bulma/bulma.sass'
@import '../../../../styles.sass'

.button-group-container
  text-align: right
  +mobile
    text-align: center

.title-input-container
  padding-left: 0
  +mobile
    padding-top: 0
    padding-left: 0
    padding-right: 0

.date-input-container
  padding-right: 0
  +mobile
    padding-top: 0
    padding-left: 0
    padding-right: 0

.add-button-container
  padding-left: 0
  padding-right: 0
  padding-top: 0

  & button
    +mobile
      width: 100%

.notification
  &.is-success
    background-color: $crosskey-teal

  &.is-warning
    background-color: $crosskey-amber

.mat-button-toggle-group
  +mobile
    width: 100%

  .mat-button-toggle
    +mobile
      width: 100%

.is-success, .is-danger
  .mat-input-element
    color: rgba(255, 255, 255, 0.54)

.mat-datepicker-toggle
  color: black

.inline-date-editor
  margin-bottom: -1.25em
