@import '../node_modules/bulma/bulma.sass'

$cubic-bezier: transform 250ms cubic-bezier(0, 0, 0.2, 1)
$crosskey-amber: #ffdd06
$crosskey-teal: #00B0B9

.container
  & .mat-list-base .mat-list-item
    height: auto
    margin: 0

    &:last-child
      margin: 0

    & .mat-list-item-content
      width: 100%

  & .mat-list-base .mat-list-item .mat-list-item-content
    +mobile
      display: block

  & .mat-form-field
    +mobile
      width: 100%

.is-completed
  text-decoration: line-through

.mat-button-toggle-checked
  background-color: white

.is-success, .is-danger
  .mat-form-field-appearance-legacy .mat-form-field-label
    color: rgba(255, 255, 255, 0.54)

.cdk-drag-animating
  transition: $cubic-bezier

.drop-list-container
  &.cdk-drop-list-dragging
    .drop-item
      &:not(.cdk-drag-placeholder)
        transition: $cubic-bezier

.drop-item-placeholder
  border: 0.5px dashed rgba(0, 0, 0, 0.54)
  width: 50%
  transition: $cubic-bezier
